@*----------Header Code for this Page--------------------------------Start-------------------Header------------------*@
@{
    ViewData["Title"] = "Loading";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

@*----------Header Code for this Page--------------------------------Ended-------------------Header------------------*@

@*----------Body Code for this Page----------------------------------Start---------------------Body----------------*@
<div class="">
    <h1>Loading</h1>
    <img src="~/Image/ggload.gif" />
</div>

@*----------Body Code for this Page----------------------------------Ended---------------------Body----------------*@

@*----------JS for this Page-----------------------------------------Start---------------------JS----------------*@
@section Scripts{
    <script>
    </script>
}
@*----------JS for this Page-----------------------------------------Ended----------------------JS---------------*@

@*----------CSS for this Page----------------------------------------Start----------------------CSS---------------*@
<style></style>
@*----------CSS for this Page----------------------------------------Ended-----------------------CSS--------------*@